// Floating buttons
$button-floating-background: $primary-color !default;
$button-floating-background-hover: $button-floating-background !default;
$button-floating-color: #fff !default;
$button-floating-size: 48px !default;
$button-floating-large-size: 56px !default;
$button-floating-radius: 50% !default;
